body { font-family: 'Open Sans'; sans-serif; }
a { color: rgb(28, 78, 137); }
a.button { background-color: rgb(28, 78, 137); }
ol, ul { margin-left: 1.5em; }
li { margin:0 0 15px 15px;padding:3px 0 3px 5px; }
li.active { color: red; }
h2 > small > a { display: none; }
h2:hover > small > a { display: inline; }

.year-article-list { margin-left: 1em; }