{% extends "base.html" %}
{% block title %}archives | {{ SITENAME }}{% endblock %}
{% block content %}
    <h2>Archives</h2>
    {% for year, date_year in dates|groupby('date.year')|reverse %}
        <h3>{{ year }}</h3>
        <div class="year-article-list">
            {% for month, articles in date_year|groupby('date.month')|reverse %}
                <h4>{{ articles[0].date.strftime('%B') }}</h4>
                <ul>
                    {% for article in articles %}
                        <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> <small>({{ article.locale_date }})</small></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}