{% extends "base.html" %}
{% block title %}all articles | {{ SITENAME }}{% endblock %}
{% block content %}
    <h2 class="page-title">all articles</h2>
    <ul>
        {% for year, date_year in dates|groupby('date.year')|reverse %}
            {% for month, articles in date_year|groupby('date.month')|reverse %}
                {% for article in articles %}
                    <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> <small>({{ article.locale_date }})</small></li>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}
