<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ DEFAULT_LANG }}" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="{{ DEFAULT_LANG }}" ><!--<![endif]-->

{% block head %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/foundation.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/pelican-foundation.css" rel="stylesheet">
    <script src="{{ SITEURL }}/theme/js/vendor/custom.modernizr.js"></script>

    {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
</head>
{% endblock head %}

<body>
    <div class="site-nav row">
        <div class="large-10 large-centered columns">
            <a href="{{ SITEURL }}" class="button small">{{ SITENAME }}</a>
            {% for title, uri, icon_class in MENUITEMS %}
                <span data-tooltip class="has-tip tip-top" title="{{ title }}">
                    <a href="{{ uri }}" class="button small">
                    {% if icon_class %}
                        <i class="{{ icon_class }}"></i>
                    {% else %}
                        {{ title }}
                    {% endif %}
                    </a>
                </span>
            {% endfor %}

            {% if GITHUB_USERNAME %}
                <span data-tooltip class="has-tip tip-top" title="github">
                    <a href="https://github.com/{{ GITHUB_USERNAME }}" class="button small"><i class="fa fa-github-alt"></i></a>
                </span>
            {% endif %}

            {% if TWITTER_USERNAME %}
                <span data-tooltip class="has-tip tip-top" title="twitter">
                    <a href="https://twitter.com/{{ TWITTER_USERNAME }}" class="button small"><i class="fa fa-twitter"></i></a>
                </span>
            {% endif %}

            {% if FEED_RSS %}
                <span data-tooltip class="has-tip tip-top" title="feed">
                    <a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" class="button small"><i class="fa fa-rss"></i></a>
                </span>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <!-- main content -->
        <div class="large-10 large-centered columns">
            {% block content %}{% endblock content %}
        </div>
    </div>

    <!-- footer -->
    <footer class="row">
        {% block footer %}
            <div class="large-12 columns">
                <hr />
                <div class="row">
                    <div class="large-6 large-centered columns">
                        <p class="right"><small>{% if FOOTER_MESSAGE %}{{ FOOTER_MESSAGE }}&nbsp;{% endif %}Powered by <a href="http://getpelican.com/">Pelican</a> and <a href="https://github.com/kfr2/pelican-foundation">Pelican-Foundation</a>.</small></p>
                    </div>
                </div>
            </div>
        {% endblock footer %}
    </footer>

    <script>
        document.write('<script src=' +
        ('__proto__' in {} ? '{{ SITEURL }}/theme/js/vendor/zepto' : '{{ SITEURL }}/theme/js/vendor/jquery') +
        '.js><\/script>')
    </script>
    <script src="{{ SITEURL }}/theme/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
    {% include 'analytics.html' %}
</body>
</html>
